@layer base {
    input[type='number']::-webkit-outer-spin-button,
    input[type='number']::-webkit-inner-spin-button,
    input[type='number'] {
      -webkit-appearance: none;
      margin: 0;
      -moz-appearance: textfield !important;
  }
}



.balanceshow {
    font-size: 10px !important;
}



.modaly {
    border-radius: 19px;
    font-size: 12px;
    padding: 10px;
    /* left: 34px; */
    margin-right: 24px;
    box-shadow: 0px 25px 55px rgb(21 84 240 / 24%) !important
}


.inputmodal {
    border: none;
    outline: none;
    background: 0px 25px 55px rgb(21 84 240 / 24%);
    background-color: rgb(21 84 240 / 24%);
    border-radius: 10px;
    padding: 3px 7px;
}


.formswap {
    position: relative;
}


.modaltwo {
   /* border-radius: 19px; */
    background-color: #FFF;
    position: absolute;
    width: 100%;
    z-index: 999999999999;
    height: 353px;
    /* top: 39px; */
    bottom: 5px;
    left: 2px;
    font-size: 12px;
    padding: 10px;
    /* left: 34px; */
    /* margin-right: 24px */
    box-shadow: 0px 25px 55px rgb(21 84 240 / 24%) !important;
}



.listContainer {
    display: flex;
    flex-direction: column;
    gap: 17px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
}